<div class="jumbotron">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mb-0" href="/videos">Video KPI Tracker</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/videos"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>

        <!-- Search bar -->

        <ul class="navbar-nav">
          <li class="me-2">
            <input
              type="text"
              class="form-control"
              id="search-input"
              placeholder="Search"
              aria-label="Search"
            />
          </li>
          <li class="me-2">
            <button
              id="search-button"
              type="submit"
              class="btn btn-outline-success col-auto"
            >
              <span class="bi-search"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>