body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Navbar */
nav {
  margin-bottom: 20px;
}

/* Link style */

a {
  color: #00b7ff;
}

a.non-link {
  text-decoration: none;
  color: #000000;
}

/* Text style */

.smallText {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
}

.verySmall{
  font-size: 10px;
}

.greyText {
  color: #999999;
}

.bold {
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-right: auto;
}

div.card-body {
  margin: 0 10px;
}

/* Form  */
div.form-group label {
  max-width: 500px;
  min-width: 300px;
}